@{
    var homeUrl = Href("~/");
}
<div class="span12">
    <hr />
    <p class="copy">
        <!-- Copyright information. You can remove my site link. -->
        Copyright &#169; <a href="@homeUrl">@WorkContext.CurrentSite.SiteName</a> | Designed by <a href="http://raptorconcepts.com">Raptor Concepts</a>
    </p>
</div>
