@{
    var homeUrl = Href("~/");
}
<div class="span4">
    <!-- Logo and site link -->
    <div class="logo">
        <h1>
            <a href="@homeUrl">@WorkContext.CurrentSite.SiteName<span class="color">.</span></a>
        </h1>
    </div>
</div>
