<div class="span4 offset4">
    <div class="list">
        <!-- Add your phone number here -->
        <div class="phone">
            <i class="icon-phone"></i>&nbsp;Phone: 123-456-7890
        </div>
        <hr />
        <!-- Add your email id here -->
        <div class="email">
            <i class="icon-envelope-alt"></i>&nbsp;Email: yourname@email.com
        </div>
        <hr />
        <!-- Add your address here -->
        <div class="address">
            <i class="icon-home"></i>&nbsp;Address: City, ST, USA
        </div>
    </div>
</div>
