<div class="error">
    <div class="row">
        <div class="span12">
            <div class="error-page">
                <p class="error-med">Oops! Something missing</p>
                <p class="error-big">404<span class="color">!!!</span></p>
                <p class="error-small">The page you are looking for does not exist.</p>
            </div>
        </div>
    </div>
</div>