/* STICKY FOOTER
================================================== */
html, body { height: 100%; }
/* The html and body elements cannot have any padding or margin. */
#layout-wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -273px; }
/* Negative indent footer by it's height */
#push, #footer { height: 270px; }
/* Set the fixed height of the footer here */
#footer { margin-top: 0; padding-top: 0; }
#footer .container { padding-top: 10px; }
.content { margin-bottom: 20px; }

@media (max-width: 767px) {
    #footer { margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px; }
    /* Lastly, apply responsive CSS fixes as necessary */
}

/* MODIFY HEADER TAGS
================================================== */
article header { padding: 0; border-bottom: none; }
header span { font-family: inherit; }

@media (max-width: 767px) {
    article header { margin-left: 0px; margin-right: 0px; }
}

/* MODIFY LISTS
================================================== */
/* remove the bullet on the list of blog posts */
.content ul.blog-posts li { background-image: none !important; padding-left: 0; }

/* remove the bullet on the list of blog post comments */
.content ul.comments li { background-image: none !important; padding-left: 0; }

/* remove the bullet in the list of archive posts */
.archive-trail + ul > li { background-image: none !important; padding-left: 0; }

/* remove the bullet on the pager list and changing the style */
.content ul.pager { width: 270px; clear: both; padding: 6px 0; line-height: 17px; font-size: 13px; text-align: left; }
.content ul.pager li { background-image: none !important; padding: 0; }
.content ul.pager li span, .content ul.pager li a { padding: 5px 8px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.content ul.pager .dots { background: #fff; color: #666; background: #fff; border: 1px solid #ddd; }

/* remove the default bullet on TwitterWidget posts */
ul.latest-twitter-list li { background-image: none; padding-left: 0; }


/* MODIFY COMMENTS
================================================== */
/* move the comment count shape into the same line as the rest of the metadata */
.commentcount { margin-top: -40px !important; }
.commentcount a { font-family: "PT Sans", Arial, Helvetica, sans-serif; font-size: 12px; color: #555; }

/* change line-height on blog-post so CommentCount shape lines up properly */
.blog-post .metadata { line-height: 20px; }

/* MODIFY BLOG STYLING
================================================== */
/* remove extra margin from well on blog-post */
.blog-post .respond.well { margin-bottom: 0; }

/* SHAREBAR STYLING
================================================== */
/* add padding to top of sharebar when in a well so that it's centered vertically */
.well .sharebar { padding-top: 14px; }

/* FONT AWESOME STYLING
================================================== */
/* fix icon width for social icons with font awesome v3.2.1*/
.asocial a [class^="icon-"], a [class*=" icon-"] { display: inline-block; }
