/* sticky footer */
html, body { height: 100%; } /* The html and body elements cannot have any padding or margin. */
#layout-wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -273px; } /* Negative indent footer by it's height */
#push, #footer { height: 270px; } /* Set the fixed height of the footer here */
#footer { margin-top: 0; padding-top: 0; }
.content { margin-bottom: 20px; }
@media (max-width: 767px) {
    #footer { margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px; } /* Lastly, apply responsive CSS fixes as necessary */
}

/* move top border to header container instead of body container so sticky footer works - be sure to match color */
body { border-top: none !important; }
#layout-wrapper > header { border-top: 3px solid #30add1; }



/* remove styling on header tag for article blocks */
article header { padding: 0; border-bottom: none; }
@media (max-width: 767px) {
    article header { margin-left: 0px; margin-right: 0px; }
}

/* match footer h1 to template's footer h4 so we don't have to override shape */
footer h1 { font-size: 15px; padding-bottom: 6px; border-bottom: 1px solid #313131; margin-bottom: 4px; color: #ccc; line-height: 20px; }

/* match sidebar h1 to template's sidebar h4 so we don't have to override shape */
.sidebar h1 { font-size: 14px; color: #888; line-height: 18px; margin-bottom: 5px; padding-bottom: 10px; text-transform: uppercase; border-bottom: 1px solid #eee; }

/* remove the bullet on the list of blog posts */
.content ul.blog-posts li { background-image: none !important; padding-left: 0; }

/* remove the bullet on the list of blog post comments */
.content ul.comments li { background-image: none !important; padding-left: 0; }

/* move the comment count shape into the same line as the rest of the metadata */
.commentcount { margin-top: -40px !important; }
.commentcount a { font-family: "PT Sans", Arial, Helvetica, sans-serif; font-size: 12px; color: #555; }

/* change heading title on blog-post */
.blog-post h2 { font-size: 25px; line-height: 30px; }

/* change line-height on blog-post so CommentCount shape lines up properly */
.blog-post .metadata { line-height: 20px; }

/* remove extra margin from well on blog-post */
.blog-post .respond.well { margin-bottom: 0; }

/* add padding to top of sharebar when in a well so that it's centered vertically */
.well .sharebar { padding-top: 14px; }